{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>AcceuilEtablissement 2</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">	
        <link href="https://fonts.googleapis.com/css?family=Charmonman|Cookie" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/css_page_etablissement/style_page_etablissements.css' %}">	
    </head>
    <body>
        <section class="section-menu-top">
            <header>
                    
                    <div class="boutonSpan " >
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                <div class="header-logo-etablissement ">

                        <a href="" class="btn-back" style="top: 30;"><i class="fas fa-arrow-left"></i> </a>
                        <a href=""  class="container-imageEtablissement"><img src="{% static 'image/cropped-Logo-sans-fond-300x300.png' %}" alt="" id="header-logo-etablissement-logoEtablissements" "/></a>
                    <ul> 
                        <li>
                            <a href=""> <i class="fas fa-phone phone-color"></i></a>
                        </li>   
                        <li>
                            <a href="" >
                               
                                <span>229-963-939-51</span>
                            </a>
                        </li>
                        <li> <a href="" class="header-logo-etablissement-menuconnexion ">connexion</a> </li>
                        <li>
                            <div class="serchbox ">
                                <form action=""><a href=""><input type="search" placeholder="search" class="input"></a></form>
                                <div class="searchbtn">
                                    <i class="fas fa-search icon-menu"  ></i>

                                </div>
                            </div>
                        </li>
                    </ul>
                   
                           
                   
                </div>
               
                
                <ul>
                    
                    <li><a href="" class="active">Accueil</a></li>
                    <li><a href="">Classe disponible</a></li>
                    <li><a href="">Galerie</a></li>
                    <li><a href="">Galerie</a></li>
                    <li><a href="">Galerie</a></li>
                    <li><a href="">Galerie</a></li>
                    <li><a href="">Classe disponible</a></li>
                </ul>
            </header>

            <div class="boutongroup">
                <a href="" class="btn active" >our couses</a>
                <a href="" class="btn">learn More</a>
            </div>

            <div class="sloganEtablissement">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit corporis reprehenderit nam vero aspernatur voluptatibus necessitatibus, voluptas a atque in perfe
                </p>
            </div>
           
        </section>
        <section>
            <section>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, repellat ut. Repellendus quasi nam mollitia animi dignissimos pariatur fuga, ullam commodi! Ducimus tenetur harum beatae sed eius, eligendi laboriosam quaerat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi laborum! Accusantium, labore totam! Eaque inventore eos repellendus nisi quisquam in corrupti maiores dicta quas reiciendis, deserunt blanditiis molestiae perferendis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ducimus ut dignissimos error excepturi laboriosam similique itaque perspiciatis facere dicta temporibus dolores provident molestiae, est voluptate quidem hic beatae atque.
                </p>
            </section>
        </section>
      
        
        

                            
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            $(window).on('scroll',function(){
                if($(window).scrollTop()){
                    $('header').addClass('white');
                }else {
                    $('header').removeClass('white');
                }     
            })
            $(document).ready(function(){
                $(".searchbtn").click(function(){
                    $(this).toggleClass("bg-blue");
                    $(".icon-menu").toggleClass("color-white");
                    $(".input").focus().toggleClass("active-input").val('');
                    $(".header-logo-etablissement").toggleClass("hidden-li");
                    $(".serchbox").toggleClass("up");
                    

                });

            });

            $(document).ready(function(){
                $(".boutonSpan").click(function(){
                    $(".boutonSpan").toggleClass('active')
                    $("header").toggleClass('active')    
                })
            })
    
        </script>
    </body>
</html>