{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">	
    <link rel="stylesheet" href="{% static 'css/css_page_accueil/style_page_accueil.css' %}">	
    <title>Accueil | safe</title>
</head>
<body>
    <header>
 
        <nav class="menu">
            <div class="logo-principal" style="position: relative;">
                <a href=""><img src="{% static 'image/00SafeLogoOmbrée.png' %}" alt="" id="logo-safe" style=" "></a>
            </div>
            <div class=" menu-style menu-left">
                <ul>
                     <li>
                        <a href="">Accueil</a>
                    </li>
                    <li>
                        <a href="">Accueil</a>
                    </li>
                    <li class="">
                        <a href="">Etablissements</a>
                        <ul class= "sub-menu sub-menu-1">
                            <li class="li-container-submenu">
                                <a href="">Prive</a>
                                <ul>
                                    <li>
                                        <a href="">Prive1</a>
                                    </li>
                                    <li>
                                        <a href="">Prive2</a>
                                    </li>
                                    <li>
                                        <a href="">Prive3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Public</a>
                                <ul>
                                    <li>
                                        <a href="">Public1</a>
                                    </li>
                                    <li>
                                        <a href="">Public2</a>
                                    </li>
                                    <li>
                                        <a href="">Public3</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="">Secondaire</a>
                                <ul>
                                    <li>
                                         <a href="">secondaire1</a>
                                    </li>
                                    <li>
                                        <a href="">secondaire2</a>
                                    </li>
                                    <li>
                                        <a href="">secondaire3</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="">Documents</a>
                        <ul class="sub-menu sub-menu-2">
                            <li>
                                <a href="">Memoire</a>
                                <ul>
                                    <li>
                                        <a href="">Memoire1</a>
                                    </li>
                                    <li>
                                        <a href="">Memoire2</a>
                                    </li>
                                    <li>
                                        <a href="">Memoire3</a>
                                    </li>
                                    <li>
                                        <a href="">Memoire4</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="">Epreuve</a>
                                <ul>
                                    <li>
                                        <a href="">Epreuve1</a>
                                    </li>
                                    <li>
                                        <a href="">Epreuve2</a>
                                    </li>
                                    <li>
                                        <a href="">Epreuve3</a>
                                    </li>
                                    <li>
                                        <a href="">Epreuve4</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="">Expose</a>
                                <ul>
                                    <li>
                                        <a href="">Expose1</a>
                                    </li>
                                    <li>
                                        <a href="">Expose2</a>
                                    </li>
                                    <li>
                                        <a href="">Expose3</a>
                                    </li>
                                    <li>
                                        <a href="">Expose4</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class=" menu-style menu-right">
                <ul>
                    <li>
                        <a href="" class="style-prox">etablissement A proximite</a>
                    </li>
                    <li>
                        <a href="" class="a-btn">
                            connexion
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <script src="{% static 'js/js_menu_dropdown.js' %}"></script>


</body>
</html>