{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">	
    <link href="https://fonts.googleapis.com/css?family=Charmonman|Cookie" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css_page_accueil/style_page_accueil.css' %}">	
    <title>Accueil | safe</title>
</head>
<body>
    <header>
 
        <nav class="menu">
            <div class="logo-principal" style="position: relative;">
                <a href=""><img src="{% static 'image/00SafeLogoOmbrée.png' %}" alt="" id="logo-safe" style=" "></a>
            </div>
            <div class=" menu-style menu-left">
                <ul>
                    <li>
                        <a href="">Accueil</a>
                    </li> 
                    
                    <li class="sub-menu" id="sub-menu-etablisement">
                        <a href="">Etablissements</a>
                        <ul class= "sub-menu sub-menu-1 hover-dropdown">
                            <li class="li-container-submenu">
                                <a href="">Secondaire</a>
                                <ul class="sub-menu-prive-ul">
                                    <li>
                                        <a href="" class="sub-menu-a">Prive</a>
                                        <ul>
                                            <li>
                                                <a href="">Laic</a>
                                            </li>
                                            <li>
                                                <a href="">Social</a>
                                            </li>
                                            <li>
                                                <a href="">Protestant</a>
                                            </li>
                                            <li>
                                                <a href="">Catholique</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" class="sub-menu-a">Public</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Lycee</a>
                                <ul class="sub-menu-lyce-ul sub-menu-lyce-univ-ul " >
                                    <li>
                                        <a href="">Technique</a>
                                    </li>
                                    <li>
                                        <a href="">Agricole</a>
                                    </li>
                                    <li>
                                        <a href="">Public3</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="">Universite</a>
                                <ul class="sub-menu-universite-ul sub-menu-lyce-univ-ul">
                                    <li>
                                         <a href="">Faculte</a>
                                    </li>
                                    <li>
                                        <a href="">Ecole</a>
                                    </li>
                                    <li>
                                        <a href="">Institut</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="">Documents</a>
                       <ul class="sub-menu sub-menu-2">
                            <li>
                                    <a href="" class="">Memoire</a>
                                    <ul class="sub-menu-2-doc-ul">
                                        <li>
                                            <a href="">DTS/Licence</a>
                                        </li>
                                        <li>
                                            <a href="">Master</a>
                                        </li>
                                        <li>
                                            <a href="">Doctorat</a>
                                        </li>
                                        
                                    </ul>
                            </li>
    
                            <li>
                                <a href="">Epreuve</a>
                                <ul class="sub-menu-2-ep-ul">
                                    <li>
                                        <a href="" class="sub-menu-a">Secondaire</a>
                                        <ul class="sub-menu-2-ul">
                                            
                                            <li>
                                                <a href="">CycleI</a>
                                            </li>
                                            <li>
                                                <a href="">CycleII</a>
                                            </li>
                                           
                                        </ul>
                                    </li> 
                                    <li>
                                        <a href="" class="sub-menu-a">Universite</a>
                                    </li>
                                    
                                    
                                </ul>
                            </li>

                            <li>
                                <a href="">Expose</a>
                                <ul class="sub-menu-2-exp-ul">
                                    
                                    <li>
                                        <a href="" class="sub-menu-a">Secondaire</a>
                                        <ul>
                                            <li>
                                                <a href="">Expose1</a>
                                            </li>
                                            <li>
                                                <a href="">Expose2</a>
                                            </li>
                                            <li>
                                                <a href="">Expose3</a>
                                            </li>

                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="" class="sub-menu-a">Universite</a>
                                    </li>
                                </ul>
                            </li>

                            
                        </ul>
                    </li>
                </ul>

            </div>
            <div class=" menu-style menu-right">
                <ul>
                    <li>
                        <a href="" class="style-prox">etablissement A proximite</a>
                    </li>
                    <li>
                        <a href="" class="a-btn">
                            connexion
                        </a>
                    </li>
                </ul>
            </div>
        </nav> 
        

        
        <div class="big-search-box ">
            <form action=""><input type="search" placeholder="Rechercher un Etablissement" class="input-big-search-box"></form>
                <div class="searchbtn-big-search-box">
                    <i class="fas fa-search icon-menu" id="fas-big-search" ></i>
                </div>
                
                <div class="div-advanced-search">
                    <button class="button-advanced-search"  >
                        <i class="fas fa-angle-down advanced-search"></i>
                    </button>
                   
                </div>
        </div>

       
        <div class="pull-right infocontainer">
            <div class="main-container ">
                <div class="div-container">
                    <div class="info">
                        <div class="h1-info">
                            <h1>
                                <span>
                                    Faites vous une place numerique.
                                </span>
                            </h1>

                            <p>
                                Créer un compte vous permet d'voir une page personnaliser d'etre plus proche de vos clients que sont les parents et eleves, ce la vous permet egalement d'avoir un oeil sur votre etablissement partout ou vous etes.  Cela vous offre une visibilitée digital , et vous permet de partager de connaissance de ressource et pleine d'autre chose pour ne citer que ceux la.
                            </p>
                        </div>
                        <button>Creer un compte</button>
                    </div>
                    <p>
                        En vous inscrivant, vous acceptez  <br/> <a href="">les conditions generales d'utilisation </a> et la <a href="">Politique de confidentialité  </a> de <strong>safesKool</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-advanced-search">
            <form  action=" " class="form-search-advanced-container">
                <label for=""> advanced search</label>

                <div class="checkbox">
                    <label><input type="checkbox"> Etablissement les plus visibilités</label>
                </div>
                <div class="form-row row-container">
                    <div class="form-group col-md-4">
                        
                        <select id="inputStatess" class=" select-values">
                            <option selected>Type</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                       
                        <select id="inputState" class="select-values">
                            <option selected>Status</option>
                            <option>Status</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                       
                        <select id="inputStates" class="select-values">
                            <option selected>Categorie</option>
                            <option>som operation</option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-row row-container">
                    <div class="form-group col-md-4">
                        
                        <select id="" class=" select-values">
                            <option selected>Zone</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                       
                        <select id="" class="select-values">
                            <option selected>Performance</option>
                            <option>Status</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                       
                        <select id="" class="select-values">
                            <option selected>Qualité d'ensegnement</option>
                            <option>som operation</option>
                        </select>
                        
                    </div>
                </div>

                <div class="reset-submit-buuton">
                    <button class="search-button">Search</button>
                    <button class="reset-button">Annuler</button>

                </div>
            </form>
        </div>
    
    </header>

    <div class="body-home">
        
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('select').niceSelect();

            $('.button-advanced-search').click(function(){
                $('.div-advanced-search').toggleClass('active-div-advanced-search')
                $('.searchbtn-big-search-box').toggleClass("searchbtn-big-search-box-active");
                $('.big-search-box').toggleClass("color-white"); 
                $('.form-advanced-search').toggleClass('active-form-advanced-search')
                $('.fas').toggleClass('active-fas')  
                   
            })
        })
</script>

</body>
</html>